{
    "name": "$host.fullname",
    "hostname": "$host.hostname",
    "profile": "$host.profile",
    "gateway": "$host.gateway",
    "interfaces": 
        #import simplejson
        #set interfaces = $host.networks.interfaces
	    #set rekeyed = {}
        #for $nic, $val in $interfaces.iteritems():
            #set $rekeyed[$nic] = { "ip_address": $val.ip, "netmask": $val.netmask, "management": $val.is_mgmt, "static" : True }
	    #if $val.is_mgmt:
	      #set $rekeyed[$nic]["mac_address"] = $host.mac_address
	      #set $rekeyed[$nic]["dns_name"] = $host.dns
            #end if
        #end for
        #set $str=simplejson.dumps($rekeyed)
        $str
    ,
    "ksmeta":{
        "timezone" : "$host.timezone",
	#set f=[(k + ' ' + v['vol_percentage'] or v['vol_size']) for k,v in $host.partition.iteritems()]
	#set $partition_config = ';'.join($f)
        "partition": "$partition_config"
    }
}
