{
    "name": "$host.fullname",
    "hostname": "$host.hostname",
    "profile": "$host.profile",
    "gateway": "$host.gateway",
    "interfaces": {
        #set interfaces = $host.networks.interfaces
        #set $count = len(interfaces)
        #for $nic in $interfaces
            "$nic": {
                "ip_address": "$interfaces[$nic].ip",
                "netmask": "$interfaces[$nic].netmask",
                #set $is_mgmt_str=str($interfaces[$nic].is_mgmt).lower()
                "management": $is_mgmt_str,
                #if $interfaces[$nic].is_mgmt
                "mac_address": "$host.mac_address",
                "dns_name": "$host.dns",
                #end if
                "static": true
            }
            #if $count > 1
            ,
            #end if
            #set $count = $count - 1
        #end for
    },
    "ksmeta":{
        "timezone" : "$host.timezone",
        #set $partition_config = ''
        #for $path in $host.partition
            #set $temp=''
            #set $vol_percentage = $host.partition[$path].vol_percentage
            #set $vol_size = $host.partition[$path].vol_size
            #if $vol_percentage
                #set $temp = $path + ' ' + $vol_percentage + ';'
            #elif $vol_size
                #set $temp = $path + ' ' + $vol_size + ';'
            #end if
            #set $partition_config = $partition_config + $temp
        #end for
        "partition": "$partition_config"
    }
}
